{% extends 'front/base.html' %}
{% block css_js %}
    {{  css_static('css/front/about.css') }}
    {{ js_static('js/front/about.js') }}
{% endblock %}
{% block content %}
    <div class="info-top">
        <img src="{{ url_for('static',filename='img/contact.png') }}">
    </div>
    <div class="company" id="company">
        <h2>公司介绍</h2>
        <div class="company-info">
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;杭州百博电子商务有限公司致力于电商平台控价、电商平台打假、电商平台知识产权维权、旗下拥有“维权管家”、“电商卫士”两个品牌，专注为国内外品牌商解决品牌遇到的各种市场管控问题。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;公司位于电商之都——杭州，旗下拥有“维权管家”、“电商卫士”两个品牌，致力于电商平台控价、电商平台打假，为品牌商家提供淘宝知识产权维权、商标专利事务、知识产权诉讼和法律咨询服务。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;针对互联网上乱价、假货和知识产权等多元化的品牌侵权问题，百博电商研发了一款渠道管控软件——“维权管家管控系统”，构建了国内领先的价格管控和渠道管控服务体系，快速监控识别并清除侵权的商品链接，全方位保护品牌价值，为国内外品牌商提供高品质的渠道管控服务，解决各种品牌侵权问题。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;旗下品牌“百博卫士”，为品牌商家定向监控疑似窜货、水货和假货商家，提供有效的渠道情报，同时也为品牌商家监控产品在各网络渠道的销售价格，有低于市场指导价的及时报警，能够有效监管网络渠道价格体系。
            </p>
        </div>
    </div>
    <div class="team">
        <h2>团队风采</h2>
        <div class="team-info">
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;杭州百博电子商务有限公司致力于电商平台控价、电商平台打假、电商平台知识产权维权、旗下拥有“维权管家”、“电商卫士”两个品牌，专注为国内外品牌商解决品牌遇到的各种市场管控问题。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;公司位于电商之都——杭州，旗下拥有“维权管家”、“电商卫士”两个品牌，致力于电商平台控价、电商平台打假，为品牌商家提供淘宝知识产权维权、商标专利事务、知识产权诉讼和法律咨询服务。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;针对互联网上乱价、假货和知识产权等多元化的品牌侵权问题，百博电商研发了一款渠道管控软件——“维权管家管控系统”，构建了国内领先的价格管控和渠道管控服务体系，快速监控识别并清除侵权的商品链接，全方位保护品牌价值，为国内外品牌商提供高品质的渠道管控服务，解决各种品牌侵权问题。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;旗下品牌“百博卫士”，为品牌商家定向监控疑似窜货、水货和假货商家，提供有效的渠道情报，同时也为品牌商家监控产品在各网络渠道的销售价格，有低于市场指导价的及时报警，能够有效监管网络渠道价格体系。
            </p>
        </div>
    </div>
    <div class="cooperate">
        <h2>合作行业资源</h2>
        <div class="cooperate-info">
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;杭州百博电子商务有限公司致力于电商平台控价、电商平台打假、电商平台知识产权维权、旗下拥有“维权管家”、“电商卫士”两个品牌，专注为国内外品牌商解决品牌遇到的各种市场管控问题。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;公司位于电商之都——杭州，旗下拥有“维权管家”、“电商卫士”两个品牌，致力于电商平台控价、电商平台打假，为品牌商家提供淘宝知识产权维权、商标专利事务、知识产权诉讼和法律咨询服务。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;针对互联网上乱价、假货和知识产权等多元化的品牌侵权问题，百博电商研发了一款渠道管控软件——“维权管家管控系统”，构建了国内领先的价格管控和渠道管控服务体系，快速监控识别并清除侵权的商品链接，全方位保护品牌价值，为国内外品牌商提供高品质的渠道管控服务，解决各种品牌侵权问题。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;旗下品牌“百博卫士”，为品牌商家定向监控疑似窜货、水货和假货商家，提供有效的渠道情报，同时也为品牌商家监控产品在各网络渠道的销售价格，有低于市场指导价的及时报警，能够有效监管网络渠道价格体系。
            </p>
        </div>
    </div>
    <div class="process">
        <h2>服务流程</h2>
        <div class="process-info">
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;杭州百博电子商务有限公司致力于电商平台控价、电商平台打假、电商平台知识产权维权、旗下拥有“维权管家”、“电商卫士”两个品牌，专注为国内外品牌商解决品牌遇到的各种市场管控问题。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;公司位于电商之都——杭州，旗下拥有“维权管家”、“电商卫士”两个品牌，致力于电商平台控价、电商平台打假，为品牌商家提供淘宝知识产权维权、商标专利事务、知识产权诉讼和法律咨询服务。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;针对互联网上乱价、假货和知识产权等多元化的品牌侵权问题，百博电商研发了一款渠道管控软件——“维权管家管控系统”，构建了国内领先的价格管控和渠道管控服务体系，快速监控识别并清除侵权的商品链接，全方位保护品牌价值，为国内外品牌商提供高品质的渠道管控服务，解决各种品牌侵权问题。
            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;旗下品牌“百博卫士”，为品牌商家定向监控疑似窜货、水货和假货商家，提供有效的渠道情报，同时也为品牌商家监控产品在各网络渠道的销售价格，有低于市场指导价的及时报警，能够有效监管网络渠道价格体系。
            </p>
        </div>
    </div>
    <div class="contact" id="contact">
        <h2>联系我们</h2>
        <div class="contact-info">
            <form class="form-horizontal" action="" method="post">
                <input type="hidden"  name="csrf_token" value="{{ csrf_token() }}">
                <div class="form-group col-md-6 col-xs-12" >
                    <input type="text" class="form-control" name="name" placeholder="您的姓名">
                </div>
                <div class="form-group col-md-6 col-xs-12 ">
                    <input type="text" class="form-control" name="email" placeholder="您的邮箱(选填)">
                </div>
                <div class="form-group col-md-6 col-xs-12">
                    <input type="text" class="form-control" name="tel" placeholder="您的手机">
                </div>
                <div class="form-group col-md-6 col-xs-12">
                    <select name="kind" id="kind" class="form-control ">
                        <option  selected="selected" value="4">==请选择种类==</option>
                        <option value="1">电商从业合规</option>
                        <option value="2">消费者维权</option>
                        <option value="3">知识产权保护</option>
                        <option value="4">其他</option>
                    </select>
                </div>
                <div class="form-group col-md-12 col-xs-12">
                    <textarea name="question" id="question" rows="5" class="form-control"  maxlength="200" placeholder="咨询问题(不超过200字)" onkeyup="cal()"></textarea>
                    <span class="len">0/200</span>
                </div>



                <div class="form-group">
                    <div class="control-label  col-md-offset-8 col-md-4 col-xs-12">
                        <button type="submit" class="btn btn-primary " id="message-submit">提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}