{% extends 'front/base.html' %}
{% block css_js %}
    {{ css_static('css/front/service.css') }}
{% endblock %}
{% block content %}
<div class="jumbotron">
    <div class="container">
      <div class="back-img"><img src="/static/img/service1.jpg" ></div>
      <h1>电商合规培训</h1>
        <p>...</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">了解更多</a></p>
    </div>
</div>
<div class="jumbotron">
    <div class="container">
      <div class="back-img"><img src="/static/img/service2.jpg" ></div>
      <h1>反职业打假</h1>
      <p>...</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">了解更多</a></p>
    </div>
</div>
<div class="jumbotron">
    <div class="container">
      <div class="back-img"><img src="/static/img/service3.jpg" ></div>
      <h1>在线培训课程</h1>
      <p>...</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">了解更多</a></p>
    </div>
</div>
<div class="jumbotron">
    <div class="container">
      <div class="back-img"><img src="/static/img/service4.jpg" ></div>
      <h1>知识产权保护</h1>
      <p>...</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">了解更多</a></p>
    </div>
</div>



{% endblock %}