{% extends 'front/base.html' %}
{% block css_js %}
    {{ css_static('css/front/solution_2.css') }}
{% endblock %}
{% block content %}
    <div class="solution-head">
        <div class="head-img">
            <img src="/static/img/solution2-head.jpg">
        </div>
        <div class="head-info">
            <h1>消费者消费维权咨询培训</h1><br/>
            <h2 style="color: #6c7ce1">保护消费者合法权益</h2>
        </div>
    </div>
    <div class="solution-1">
        <h1>- 十寻维权流程 -</h1>
        <div>
          <img src="/static/img/solution_2_1.jpg">
        </div>
    </div>
{% endblock %}
