{% extends 'front/base.html' %}
{% block css_js %}
    {{ css_static('css/front/solution_1.css') }}
{% endblock %}
{% block content %}
    <div class="solution-head">
        <div class="head-img">
            <img src="/static/img/solution1-head.jpg"></img>
        </div>
        <div class="head-info">
            <h1>电商从业者合规运营咨询培训</h1><br/>
            <h2 style="color: #6c7ce1">建立健康的电商生态环境</h2>
        </div>
    </div>
    <div class="solution-1">
        <h1>--电商存在的问题--</h1>
        <div class="col-md-4  col-xs-12">
            <img src="/static/img/solution_1_1.jpg">
        </div>
        <div class="col-md-4  col-xs-12">
            <img src="/static/img/solution_1_2.jpg">
        </div>
        <div class="col-md-4  col-xs-12">
            <img src="/static/img/solution_1_3.jpg">
        </div>
    </div>
    <div class="solution-2">
        <h1>--解决方案--</h1>
        <img src="https://flaskdemo.oss-cn-hangzhou.aliyuncs.com/qianxun_img/solution_1_4.png?x-oss-process=style/original_format
">
    </div>
    <div class="solution-3">
        <h1>--案例展示--</h1>
        <div class="example-img">
            <img src="/static/img/example_head.png">
        </div>
        <div class="example">
            <div class="example-l col-md-offset-1 col-md-5 col-xs-offset-1 col-xs-10">
                <h2>合规培训</h2>
                <div class="example-content">
                    <P><span>优秀案例：</span> 某网红爆款眼影</P>
                    <p><span>服务时间：</span> 2018年6月-至今</p>
                    <P><span>服务内容：</span> 在淘宝、天猫等平台通过侵权监测&链接移除、价格监测、渠道管理等手段，为旗下爆款产品在阿里系电商平台上开展知识产权保护工作。</P>
                    <p style="text-align: center;color: red; font-size: 20px">服务效果</p>
                    <img style="width: 100%" src="/static/img/example_result.png">
                    <P><span>侵权投诉成功率：</span>侵权投诉总量460条，删除量420条，删除成功率91.3%。</P>
                    <P><span>授权招商：</span>三个月时间协助品牌方招商，授权店铺从100多家发展到1000多家。</P>
                    <P><span>洁净度提升：</span>洁净度整体提升55%，全网销售价格基本保持在官方价格9成以上。</P>
                    <p><span>销售金额挽回：</span> 共挽回销售损失约226万元 </p>

                </div>
            </div>
            <div class="example-r col-md-offset-0 col-md-5 col-xs-offset-1 col-xs-10">
                <h2>合规资讯</h2>
                <div class="example-content">
                    <P><span>优秀案例：</span> 某网红爆款眼影</P>
                    <p><span>服务时间：</span> 2018年6月-至今</p>
                    <P><span>服务内容：</span> 在淘宝、天猫等平台通过侵权监测&链接移除、价格监测、渠道管理等手段，为旗下爆款产品在阿里系电商平台上开展知识产权保护工作。</P>
                    <p style="text-align: center;color: red; font-size: 20px">服务效果</p>
                    <img style="width: 100%" src="/static/img/example_result.png">
                    <P><span>侵权投诉成功率：</span>侵权投诉总量460条，删除量420条，删除成功率91.3%。</P>
                    <P><span>授权招商：</span>三个月时间协助品牌方招商，授权店铺从100多家发展到1000多家。</P>
                    <P><span>洁净度提升：</span>洁净度整体提升55%，全网销售价格基本保持在官方价格9成以上。</P>
                    <p><span>销售金额挽回：</span> 共挽回销售损失约226万元 </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
