{% extends 'front/base.html' %}
{% block css_js %}
    {{ css_static('css/front/solution_3.css') }}
{% endblock %}
{% block content %}
    <div class="solution-head">
        <div class="head-img">
            <img src="/static/img/solution3-head.jpg"></img>
        </div>
        <div class="head-info">
            <h1>知名品牌知识产权保护咨询</h1><br/>
            <h2>为企业保驾护航</h2>
        </div>
    </div>
    <div class="solution-1">
        <h1>--知识产权问题--</h1>
        <div>
             <img src="/static/img/solution_3_1.png">
        </div>
    </div>
    <div class="solution-2">
        <h1>--解决方案--</h1>
        <img src="/static/img/solution_3_2.png">
    </div>
{% endblock %}
